/* *************** Comon CSS ************* */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top: 50px;
}
button{
    text-transform: uppercase;
}
.btn-background{
    background: #000;
    color: #fff;
    transition: .4s;
}
.btn-background:hover{
    color: rgb(168, 168, 168);
}

/* **************** Nav Bar Start******************** */
.navbar-nav{
    text-transform: capitalize;
}
.navbar img,.navbar{
    height: 70px;
}
/* **************** Nav Bar End******************** */

/* **************** Banner part Start******************** */
.carousel-indicators li{
    background: darkgrey;
    height: 0;
    width: 20px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-radius: 20px;
   
}
.carousel-indicators .active{
    background:#FF9C35;
    border-radius: 10px;
    width: 40px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.row-gap h1,p,button{
    padding: 20px 0;
    text-transform: uppercase;
}
.anchor-clr{
    color: #FF9C35;
}
.anchor-clr:hover{
   text-decoration: none;
   color: #FF9C35;
}
/* **************** Banner part End******************** */

/* **************** Smartphone Start******************** */
.card h5{
    font-size: 35px;
}
.card{
    box-shadow: 5px 5px 10px lightgrey;
    text-align: center;
}
/* **************** Smartphone End******************** */

/* **************** Categories Start******************** */
.cat-border{
    text-align: center;
}
.cat-bg{
    width: 100%;
}
.row-img{
    margin-left: -100%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 5px 5px 30px 5px;
}
.row-img-1{
    padding: 20px;
    margin-right: 20%;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 5px 5px 30px 5px;
}
/* **************** Categories End******************** */
